<mat-card
  class="day"
  fxLayout="column"
  fxLayoutAlign="space-between"
  (click)="setActiveDate(record, index, date)"
  [ngClass]="{'today' : index === 3}"
> {{record.id}}
  <h3>{{ date }}</h3>
  <mat-card
    *ngIf="recordExistsForDay(); else no_record"
    class="record record-exists"
    fxLayout
    fxLayoutAlign="space-around"
  >
  </mat-card>
  <ng-template #no_record>
    <mat-card 
    fxLayout
    fxLayoutAlign="space-around"
    fxLayout="column"
    class="record no-record"
  >
        No Entry
    </mat-card>
  </ng-template>
</mat-card>  