.record{
    height: 300px;
}
.record-exists{
    background-image: url('/assets/images/greenCheckmark.png');
    background-size: 100px 100px;
    background-position: center center;
    background-repeat: no-repeat;
}
.no-record{
    text-align: center;
}