.active-marker-card{
    height: 300px;
    margin-bottom: 20px;
    width: 200px;
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;
}
.marker-icon{
   height: 50px;
   width: 50px;
   font-size: 50px;
   margin: 0 auto;
} 
.mat-card-actions{
    margin-left: 0px;
}
mat-card-title{
    height: 60px;
}
.available-marker-card{
    justify-content: space-between;
}
mat-card-content{
    width: 300px;
    display: block;
    height: 100%;
}

.edit-settings{
    width: 300px;
}
