<mat-card
  class="active-marker-card marker-card"
  fxLayout="column"
  fxLayoutAlign="space-between"
  *ngIf="isInPlan"
>
  <mat-card-title fxLayoutAlign="center">{{ marker.name }}</mat-card-title>
  <!-- <mat-card-content fxLayoutAlign="center"></mat-card-content> -->
  
  <mat-icon class="marker-icon">
    {{ marker.iconName }}
    {{ isExpanded }}
  </mat-icon>
  
  <mat-card-actions
    class="action-container"
    fxLayout  
    fxLayoutAlign="space-between"  
  > 
      <button 
        class="edit-marker-button remove-marker"
        [disabled]="!isInPlan"
        type="button" 
        mat-raised-button
        (click)="removeMarkerFromPlan(marker)"
      >
        Remove
      </button>
      <button 
      class="settings-button"
        type="button"
        mat-icon-button
        (click)="openDialog()"
      >
        <mat-icon class="settings-icon">
          settings
        </mat-icon>
      </button>
  </mat-card-actions>
  
  <mat-card-content *ngIf="isExpanded === true">5
    Stuff Here
  </mat-card-content>
  <!-- <mat-progress-bar *ngIf="isLoading === true" mode="indeterminate"></mat-progress-bar> -->
</mat-card>