
<section 
  class="edit-plan" 
  fxLayout="column"
>  
  <app-edit-plan-current
    [myPlan]="myPlan"
  >

  </app-edit-plan-current>
  <mat-divider></mat-divider>
  <mat-card
    class="add-remove-markers" 
    fxLayout 
    fxLayoutAlign="center"
    fxLayoutGap="20px" 
  >
    <app-edit-marker-card
      [marker]="marker"
      [myPlan]="myPlan"
      [isInPlan]="isInPlan(marker)"
      (markerAddedToPlan)="addMarkerToPlan($event, i)"
      (markerRemovedFromPlan)="removeMarkerFromPlan($event, i)"
      *ngFor="let marker of availableMarkers; let i = index" 
      fxFlex="200px" 
      fxFlex.xs="100%"
    >
  
    </app-edit-marker-card>
  </mat-card>
</section>
  