
<section 
  class="edit-plan" 
  fxLayout="column"
>  
  Your plan tracks:
  <app-edit-plan-current
    [myPlan]="myPlan"
  >

  </app-edit-plan-current>
  <mat-divider class="edit-plan-divider"> Here's what you can track:</mat-divider>
 
  <mat-card
    class="add-remove-markers" 
    fxLayout 
    fxLayoutAlign="center"
    fxLayoutGap="20px" 
  >
    <app-edit-marker-card
      [marker]="marker"
      [myPlan]="myPlan"
      [isInPlan]="isInPlan(marker)"
      (markerAddedToPlan)="addMarkerToPlan($event)"
      (markerRemovedFromPlan)="removeMarkerFromPlan($event)"
      *ngFor="let marker of availableMarkers" 
      fxFlex="200px" 
      fxFlex.xs="100%"
    >
  
    </app-edit-marker-card>
  </mat-card>
</section>
  