<div *ngIf="myPlan; let myPlan; else loading">{{ myPlan.name }}</div>
<section class="edit-plan" fxLayout fxLayoutAlign="center">  
    <mat-card fxFlex.xs="100%" *ngFor="let marker of availableMarkers">
      <mat-card-title fxLayoutAlign="center">{{ marker.name }}</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
       
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button 
          *ngIf="isInPlan(marker)" 
          type="button" 
          mat-button
          (click)="removeMarkerFromPlan(marker)"
        >
          Remove from My Plan
        </button>
        <button 
          *ngIf="!isInPlan(marker)" 
          type="button"
          at-button
          (click)="addMarkerToPlan(marker)"
        >
          Add to My Plan
        </button>
      </mat-card-actions>
    </mat-card>
</section>
  