<!-- 
  RecordDetailComponent:
  <br>
  record: {{ record | json }}
  <br> 
  activeDate: {{ activeDate }} -->

<mat-card
  class=""
  fxLayout
  fxLayout="column"
  fxLayoutAlign="flex-start"
>
  <h1>{{ activeDate | calendarDay:activeDate }}</h1>
  
  <app-record-entry
    *ngIf="record.measurements.length > 0 || recordEntryActive === true"
    fxLayout="column"
    fxLayoutAlign="space-around"
    [record]="record"
    [myPlan]="myPlan"
    [activeDate]="activeDate"
    (addModifyMeasurement)="addOrModifyMeasurement($event)"
    >
  </app-record-entry>

  <app-no-record
    *ngIf="record.measurements.length === 0 && recordEntryActive === false"
    fxLayout="column"
    fxLayoutAlign="flex-start"
    (createNewRecord)="setRecordEntryActive($event)"
  >
  </app-no-record>

</mat-card>  