<mat-card>
    <mat-accordion>
        <mat-expansion-panel 
            *ngFor="let marker of myPlan.markers; let i = index"
        > 
            <mat-expansion-panel-header
            >
                <mat-panel-title>
                {{ marker.name }}
                </mat-panel-title>
                <mat-panel-description 
                    *ngIf = "measurements[i] && marker.dataType === 'range'"
                >
                {{ measurements[i].value }} / {{ marker.max }}
                </mat-panel-description>
                <mat-panel-description 
                    *ngIf = "measurements[i] && marker.dataType === 'boolean'"
                >
                {{ measurements[i].value }} / {{ marker.max }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-record-entry-marker
                [marker]="marker"
                [measurement]="measurements[i]"
                (saveMeasurement)="addOrModifyMeasurement($event)"
            >
            </app-record-entry-marker>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>