<div class="slider-labels">
  <div 
    *ngIf="minLabel"
    class="slider-label min"
  >
    {{ marker.minLabel }}
  </div>
  <div 
    *ngIf="maxLabel"
    class="slider-label max"
  >  
    {{ marker.maxLabel }}
  </div>
</div>  

<mat-slider #slider
  min="marker.min"
  max="marker.max"
  [value]="initialValue"
  [step]="getStepPercentage(marker.min, marker.max, marker.delta)"
  [(ngModel)]="sliderValue"
  thumbLabel
>
</mat-slider>

<button 
  mat-raised-button
  (click)="save()"
>
  Save
</button>

<button 
  mat-raised-button
  (click)="clear(slider)"
>
  Clear
</button>
  